* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  height: 80px;
  font-size: 30px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.logo {
  width: 70px;
  margin: 5px;
}

.logo img {
  width: 100%;
}

header > span {
  font-weight: 400;
  font-size: 1.2rem;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  /* gap:20px; */
}

.FormInput {
  border: 1px solid #d1d5db;
  border-radius: 20px;
  margin-right: 10px;
  max-width: 500px;
  min-width: 500px;
  flex-grow: 1;
  padding: 7px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.FormInput:focus {
  outline: none;
  box-shadow: 0px 1px 2px 1px rgb(253, 165, 2);
}

.Button {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 20px;
}

.Button:hover {
  box-shadow: 0px 1px 2px 1px rgb(253, 165, 2);
}

.Ing > ul {
  margin: 20px;
}

.Ing {
  position: absolute;
  left: 30%;
  top: 200px; /* adjust as needed to clear the header */
  margin: 20px;
  min-width: 300px;
  max-width: 350px;
}

.RecipeReady {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9;
  border-radius: 20px;
  margin: 50px;
  flex-grow: 1;
  max-width: 600px;
  min-width: 500px;
  position:fixed;
  left: 28%;
}

.RecipeReadyText > h3 {
  font-weight: 500;
}

.RecipeReadyText > p {
  font-size: 0.8rem;
  margin: 10px 0px 0px 0px;
  line-height: 20px;
  color: #393939;
}

.RecipeReady > button {
  border: none;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin: 0px 0px 0px 50px;
  border-radius: 6px;
  padding: 10px 15px;
  color: #ffffff;
}
