* {
  margin: 0;
}

.icon {
  width: 80px;
  /* height: 30px; */
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e6fafb;
  color: #333;
}

header {
  display: flex;
  height: 80px;
  font-size: 30px;
  background-color: #f7e7c5;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.logo {
  width: 70px;
  margin: 5px;
}

.logo img {
  width: 100%;
}

header > span {
  font-weight: 400;
  font-size: 1.2rem;
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.FormInput {
  border: 1px solid #d1d5db;
  border-radius: 20px;
  margin-right: 10px;
  max-width: 500px;
  min-width: 500px;
  flex-grow: 1;
  padding: 7px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease
}

.FormInput:focus {
  outline: none;
  box-shadow: 0px 1px 2px 1px rgb(2, 253, 220);
}

.Button {
  background-color: #475467;  
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.Button:hover {
  box-shadow: 0px 1px 2px 1px rgb(253, 165, 2);
  background-color: #333;
}

.Ing > ul {
  margin: 20px;
}

.Ing {
  margin: 20px;
  min-width: 300px;
  max-width: 350px;
  color: #475467;

}

.Ing > ul {
  padding: 0;
}

.RecipeReady {
  display: flex;
  position: relative;
  left:-30%;
  background: #95fbe3;
  opacity: 0.7;
  padding: 30px;
  border-radius: 20px;
  min-width: 500px;
  max-width: 800px;
  width: 100%;
}

.RecipeReadyText > h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

.RecipeReadyText > p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #666;
  margin-top: 5px;
}

.RecipeReady > button {
  border: none;
  margin: 0 0 0 50px;
  border-radius: 6px;
  background: #c829e8;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.RecipeReady > button:hover {
  background-color: #a11ac6;
}



.RecipeContainer {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  background-color: #f9c0a5;
  padding: 30px;
  border-radius: 30px;
}

.RecipeContainer ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}